<div class="container-fluid"> --}}
  <div class="row">
    <div class="sidebar">
      <ul>
        {{#each model as |playlist|}}
          {{playlist-item 
              playlist=playlist 
              dropped="updatePlaylist"}}
        {{/each}}
      </ul>
    </div>
    <div class="main">
      {{outlet}}
    </div>
  </div>
</div>