<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
    {{#each model as |playlist|}}
      {{playlist-item playlist=playlist}}
    {{/each}}
    </div>
    <div class="main">
      {{outlet}}
    </div>
  </div>
</div>